html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  overflow: hidden;
}
#root {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
#root .xterm {
  flex: 1;
  height: 100%;
  width: 100%;
}
